<div class="container">
    <h1>Создание банковского счета</h1>

    <form asp-action="CreateBankAccount" asp-controller="BankAccount">
        <div class="form-group">
            <label for="accountType">Тип счета:</label>
            <select class="form-control" id="accountType">
                <option value="накопительный">Накопительный</option>
                <option value="кредитный">Кредитный</option>
                <option value="мультивалютный">Мультивалютный</option>
            </select>
        </div>

        <!-- Другие поля для создания банковского счета -->

        <button type="submit" class="btn btn-primary">Создать счет</button>
    </form>
</div>