<div class="container">
    <div class="row">
        <div class="col-md-6">
            <label for="authCode" class="form-label">Код аутентификации:</label>
            <input name="authCode" type="text" class="form-control" id="authCode" placeholder="Введите код пришедший Вам на почту" required>
        </div>
    </div>
</div>