<div class="container">
    <h2>Регистрация</h2>
    <form class="row g-3" method="post">
        <div class="col-md-6">
            <label for="inputUsername" class="form-label">Никнейм</label>
            <input name="nickname" type="text" class="form-control" id="inputUsername" required>
        </div>
        <div class="col-md-6">
            <label for="inputPassword" class="form-label">Пароль</label>
            <input name="password" type="password" class="form-control" id="inputPassword" required>
        </div>
        <div class="col-md-6">
            <label for="confirmPassword" class="form-label">Подтверждение пароля</label>
            <input name="confirmPassword" type="password" class="form-control" id="confirmPassword" required>
        </div>
        <div class="col-md-6">
            <label for="inputPhone" class="form-label">Телефон</label>
            <input name="phoneNumber" type="tel" class="form-control" id="inputPhone" required>
        </div>
        <div class="col-md-6">
            <label for="inputEmail" class="form-label">Почта</label>
            <input name="email" type="email" class="form-control" id="inputEmail" required>
        </div>
        <div class="col-md-6">
            <label for="inputDateOfBirth" class="form-label">Дата рождения</label>
            <input name="dateBirth" type="date" class="form-control" id="inputDateOfBirth" required>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </div>
    </form>
</div>
